[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"flake8" = "*"
pytest = "*"
awscli = "*"
aws-sam-cli = "*"


[dev-packages]

ipython = "*"
inject = "*"
mypy = "*"
pyannotate = "*"
pynamodb = "*"
pytest-cov = "*"
